%font-color {
  color: white;
}

.footer {
  align-content: center;    
  background-color: $cerulean;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title-footer {
  @extend %font-color;
  font-size: $text-medium;
  padding: 20px;
  text-align: center;
}

.copyright {
  @extend %font-color;
  font-size: $text-small;
  text-align: right;
}

.logo-footer{
  @extend %font-color;
  font-size: $text-giant;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .copyright {
    padding: 50px 0;   
    text-align: center; 
  }
}
