.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 10px 0 $silver;   
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo-wolox {
  height: 80px;
  width: 200px;
}

.title-navbar {
  font-size: $text-big;
  margin: 10px;  
}
