$title-decoration-height: 90px;
$title-decoration-width: 100px;

h2 {
  font-size: $text-big; 
  align-self: center;     
}

img {
  height: $title-decoration-height;
  width: $title-decoration-width;
}

div {
  display: flex;
 
}