$text-big: 20px;
$text-medium-big: 16px;
$text-medium: 14px;
$text-small: 12px;

$book-logo-height: 182px;
$book-logo-width: 128px;
$filter-height: 38px;
$filter-width: 238px;
$not-found-img-book: 75px;
$search-logo: 40px;
