@import 'src/variables/colors';
@import 'src/variables/sizes';

.book-title {
  font: bold $text-medium Roboto-Bold;
}

.book-author {
  font: $text-small Roboto-Regular;
}

.rent-button {
  background-color: $cerulean; 
  border: none;
  color: $white;
  font: bold $text-big Roboto-Bold;
  height: $button-height;
  width: $button-width; 
}
